/* ----- Colors ----- */

@light-color: 			#fff;
@dark-color: 			#000;
@green-color: 			#71b220;
@light-green-color: 	#e4f1d4;
@yellow-color: 			#fcdb19;
@light-yellow-color: 	#fef7cb;
@purple-color: 			#6a207a;
@orange-color: 			#e37320;
@blue-color: 			#39a9dc;
@divider-color: 		#6a6a6a;


/* ----- Fonts ----- */

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,400italic,500,500italic,700,700italic&subset=latin,latin-ext);

@pt-sans-font: 'PT Sans', sans-serif;
@rubik-font: 'Rubik', sans-serif;


/* ----- Other ----- */

body {
    font-size: 20px;
	font-family: @pt-sans-font;
	color: @dark-color;
    margin: 0;
    padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 0;
}

p{
	line-height: 33px;
}

a{
	&:hover, &:focus{
		text-decoration: none;
	}
}

.col-centered {
	/* Centered columns */
	display: inline-block;
	float: none !important;
	margin-right: -5px;
}

ul, ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
button{
	border: 0;
	padding: 0;
	background-color: transparent;
}


/* ----- Buttons ----- */

.btn{
	color: @light-color;
	font-size: 15px;
	font-weight: 500;
	font-family: @rubik-font;
	text-transform: uppercase;
	padding: 17px 87px;
	-webkit-transition: 200ms background-color;
	transition: 200ms background-color;
	border: none;
	&:hover, &:focus{
		color: @light-color;
	}
}

.btn--ico{
	img{
		margin-right: 10px;
	}
}

.btn--green{
	background-color: @green-color;
	-webkit-box-shadow: 3px 3px 0 0 #60971b;
	box-shadow: 3px 3px 0 0 #60971b;

	&:hover, &:focus{
		background-color: lighten(@green-color, 4%);
	}
}

.btn--yellow{
	background-color: @yellow-color;
	-webkit-box-shadow: 3px 3px 0 0 #d6b915;
	box-shadow: 3px 3px 0 0 #d6b915;

	&:hover, &:focus{
		background-color: lighten(@yellow-color, 7%);
	}
}

.btn--grey{
	background-color: #b0b0b0;
	-webkit-box-shadow: 3px 3px 0 0 #818181;
	box-shadow: 3px 3px 0 0 #818181;

	&:hover, &:focus{
		background-color: lighten(#b0b0b0, 7%);
	}
}

.btn--chat{
	background-color: @green-color;
	font-size: 12pt;
	text-transform: none;
	padding: 19px 20px 14px 20px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 998;

	&:hover, &:focus{
		background-color: lighten(@green-color, 5%);
	}

	img{
		margin-top: -5px;
	}
}


/* ----- Navigation ----- */

.header {
	position: fixed;
	background-color: @light-color;
	-webkit-box-shadow: 0 -4px 12px 6px rgba(0,0,0,0.2);
	box-shadow: 0 -4px 12px 6px rgba(0,0,0,0.2);
	width: 100%;
	z-index: 999;
	.clearfix;

	&--hero{
		background-color: @light-color;
		z-index: 1000;

		@media (min-width: @screen-md){
			background-color: transparent;
			position: relative;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		.logo {
			background-color: @light-color;
			margin: 0;
			a{
				display: block;
				padding: 23px 0 30px 15px;

				@media (min-width: @screen-md){
					padding: 34px 25px 37px;
				}
				@media (min-width: @screen-lg){
					padding: 34px 49px 37px 50px;
				}
			}
		}

		.main-nav{
			margin-top: 57px;

			li{
				a, &.current a{
					color: @light-color;
					border-bottom: 2px solid @light-color;

					&:hover, &:focus{
						color: @light-color;
						border-color: @light-color;
					}
				}
			}
		}

		.phone-number{
			color: @light-color;
			font-size: 15px;
			margin: 5px 0 0 0;

			img {
				margin-right: 7px;
			}
		}
		
	}

	&--fixed{
		display: none;
		opacity: 0;
		position: fixed;
		width: 100%;
		z-index: 999;
		-webkit-transition: 200ms opacity;
		transition: 200ms opacity;

		@media (min-width: @screen-md){
			display: block;
		}

		&.header--visible{
			opacity: 1;
		}
		.phone-number{
			font-size: 15px;
			margin: 5px 0 0 0;
			
			img {
				margin-right: 7px;
			}
		}
	}
}

.logo{
	margin: 23px 0 30px 15px;
	float: left;
	padding: 0;

	@media (min-width: @screen-md){
		margin: 6px 0px 17px 40px;
	}

	img{
		height: 40px;
	}
}

.main-nav{
	margin: 30px 50px 0 0;
	float: right;
	width: 100%;
	.clearfix;

	@media (min-width: @screen-md) {
		width: auto;
	}
	li {
		margin: 0 0 20px 0;
		position: relative;
		text-align: center;

		@media (min-width: @screen-md){
			float: left;
			margin: 0 0 0 35px;
		}

		@media (min-width: @screen-lg){
			margin: 0 0 0 65px;
		}

		a{
			color: @dark-color;
			position: relative;
			font-size: 17px;
			font-weight: 500;
			font-family: @rubik-font;
			text-transform: uppercase;
			border-bottom: 2px solid #2d2d2d;
			-webkit-transition: 200ms color, 200ms border-color;
			transition: 200ms color, 200ms border-color;

			@media (min-width: @screen-md){
				font-size: 15px;
			}

			&:hover, &:focus{
				color: @green-color;
				border-color: @green-color;
			}

			img{
				width: 20px;
				position: absolute;
				left: -27px;
				top: 0;
			}
		}

		&.icon{
			@media (min-width: @screen-md){
				margin-left: 55px;
			}
			@media (min-width: @screen-lg){
				margin-left: 85px;
			}
		}

		&.icon-logged-in{
			img{
				border-radius: 50%;
			}
		}

		&.current{
			a{
				color: @green-color;
				border-bottom: 0;
			}
		}
	}
}


.offcanvas{
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	width: 320px;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	z-index: 999;
	padding-top: 95px;
	-webkit-transform: translateX(320px);
	-ms-transform: translateX(320px);
	transform: translateX(320px);
	-webkit-transition: -webkit-transform .2s; 
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;

	&-expanded{
		.offcanvas{
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 2px -4px 20px 6px rgba(0,0,0,.2);
		}
	}
	.main-nav {
		text-align: center;
		margin: 0;
		clear: both;

		li {
			margin-top: 25px;
			a{
				color: @dark-color;
				border-bottom: 2px solid @dark-color;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}


.offcanvas-toggle{
	background-color: transparent;
	border: 0;
	height: 79px;
	width: 79px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	float: right;
	margin: 8px 0 0 0;

	span{
		display: block;
		height: 4px;
		width: 33px;
		background-color: @dark-color;
		position: absolute;
		left: 23px;
		-webkit-transition: -webkit-transform .3s; 
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;

		&:first-child{
			top: 28px;
		}

		&:nth-child(2){
			top: 37px;
		}

		&:last-child{
			top: 46px;
		}
	}

	&--active{
		span{
			&:first-child{
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				position: absolute;
				top: 37px;
			}

			&:last-child{
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				position: absolute;
				top: 37px;
			}

			&:nth-child(2){
				opacity: 0;
			}
		}
	}
}


/* ----- Main hero ----- */

.main-hero {
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 600px;
	

	#head-text {
		position: absolute;
		color: @light-color;
		text-align: center;
		top: 0;
		padding: 170px 15px 60px 15px;
		box-sizing: border-box;
		h3,h2 {
			font-weight: bold;
		}
		h2 {
			font-size: 30px;
		}
		h3 {
			font-size: 25px;
		}
		p{
			font-size: 15px;
			padding-top: 20px;
			font-weight: bold;
		}
		span {
			height: 2px;
			width: 17px;
			margin: 0 18px 4px;
			display: inline-block;
			background-color: @light-color;

			@media(min-width:@screen-sm) {
				width: 37px;
			}
		}
		.btn {
			margin-top: 50px;
			line-height: 200px;
			padding: 30px 70px;

			@media(min-width:@screen-sm) {
				padding: 30px 100px;
			}
		}

	}
}


/* ----- Form ----- */

.dropdown-form {
	margin-top: 50px;
	width: 100%;
	text-align: center;
	padding: 55px 0;

	.btn {
		width: 100%;
		@media (min-width: @screen-xs){
			width: 195px;
		}
		@media (min-width: @screen-sm){
			width: 200px;
			margin: 0 auto;
		}
	}
	h3 {
		text-align: center;
		font-weight: bold;
		font-size: 28px;
	}
	form {
		padding-top: 30px;
		width: 90%;
		margin: 0 auto;

		.selectmenu-js {
			font-size: 15px;
			padding: 10px 50px 10px 15px;
			text-align: left;
			border: none;
			background-color: @light-color;
			width: 100%;
			height: 55.433px;
			margin-right: 30px;
			margin-bottom: 20px;

			@media (min-width: @screen-xs){
				width: 195px;
				margin-bottom: 0;
			}
			@media (min-width: @screen-sm){
				width: 195px;
				
			}

		}
		
	}
	.ui-selectmenu-button{
		border-radius: 0;
		background-color: @light-color;
		width: 260px !important;

		@media (min-width: @screen-sm){
			float: left;
			margin: 0 33px 0 0;
		}

		&.ui-state-hover, &.ui-state-focus{
			border-color: #d7d7d7;

			.ui-selectmenu-text{
				color: #4b4b4b;
			}
		}

		.ui-selectmenu-text{
			font-size: 20px;
			font-family: @pt-sans-font;
			color: #4b4b4b;
			padding: 14px 20px 14px 20px;
		}

		.ui-icon{
			background-image: url(../img/icons/dropdown-ico.png);
			background-position: center;
			right: 25px;
			width: 15px;
			height: 15px;
			z-index: 1000;
			position: absolute;
			display: block;
			background-color: red;
		}
	}
}


/* ----- Modal ----- */

.modal-toggle {
	background-color: #f7f7f7;
	text-align: center;
	padding: 13px 15px 19px;
	button {
		font-size: 12px;
		font-weight: 500;
		font-family: @rubik-font;
		color: @dark-color;
		border: none;
		border-bottom: 2px solid @dark-color;
		text-transform: uppercase;
		background-color: #f7f7f7;

		@media(min-width: @screen-md) {
			font-size: 15px;
		}
	}

}
.span-yell {
		width: 94%;
		height: 15px;
		margin: 0 auto;
		background-color: yellow;
	}


/* ----- Services ----- */

.services {
	width: 100%;
	text-align: center;
	margin: 50px auto 50px;

	&__container {
		margin: 0 auto;
		padding: 0 15px;
		width: 100%;
		.clearfix;


		@media (min-width: @screen-sm){
			width: 768px;
		}

		@media (min-width: @screen-md){
			width: 970px;
		}

		@media (min-width: 1030px){
			width: 970px;
		}

		@media (min-width: @screen-lg){
			width: 1030px;
		}

		.services-box {
			width: 100%;
			margin: 0 0 50px 0;

			@media (min-width: @screen-xs){
				width: 70%;
				margin-left: 15%;
			}

			@media (min-width: @screen-sm){
				width: 48%;
				margin: 0;
			}

			@media (min-width: @screen-md){
				width: auto;
			}

			&__title {
				position: relative;
				margin-left: -3px;

				h4 {
					font-size: 28px;
					font-weight: bold;
					position: absolute;
					bottom: 0;
					width: 100%;

					@media(min-width:@screen-xs) {
						font-size: 40px;
					}
					@media(min-width: @screen-sm) {
						top: 40px;
						bottom: auto;
					}
				}
				img {
					width: 100%;
				}
			}
			&--buy {
				h4{
					color: @green-color;
				}
				.services-box__content {
					background-color: @light-green-color;
					li{
						color: @green-color;
					}
				} 
			}
			&--sell {
				margin: 0;
				h4{
					color: @yellow-color;
				}
				.services-box__content {
					background-color: @light-yellow-color;
					li {
						color: @yellow-color;
					}
				}
			}
			
			&__content {
				padding: 30px 20px 30px 20px;

				@media (min-width: @screen-sm){
					padding: 52px 20px 20px 20px;
				}

				ul{
					width: 255px;
					margin: 0 auto;

					li {
						font-weight: bold;
						text-transform: uppercase;
						text-align: left;
						margin: 0px 0px 27px;
						font-size: 17px;
					}
					img{
						margin: 0 15px 0 0px;
						width: 40px;

						@media (min-width:@screen-xs) {
							width: auto;
						}
					}
				}
			}
			&__button {
				position: relative;
				width: 100%;
				height: 60px;
				a{
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
				}
			}
			&:first-child {
				float: left;
			}
			&:last-child {
				float: right;

				@media (min-width: @screen-xs){
					float: none;
				}
				@media (min-width: @screen-sm){
					float: right;
				}
			}
		}
	}
}


/* ----- Title divider ----- */

.title-divider {
	text-align: center;
	position: relative;
	.clearfix;

	@media(min-width:@screen-sm) {
		margin-top: -10px;
		clear: both;
	}
	@media(min-width:@screen-md) {
		margin-top: 0;
	}

	&:before {
		content: '';
		height: 2px;
		width: 100%;
		display: block;
		position: absolute;
		background-color: #666666;
		top: 15px;
	}
	h4 {
		display: inline-block;
		text-transform: uppercase;
		font-size: 17px;
		position: relative;
		font-family: @rubik-font;
		font-weight: normal;
		background-color: @light-color;
		padding: 0 10px 0 10px;
		color: @divider-color;
	}
}


/* ----- Slider ----- */

.reference-slider {
	padding: 0;
	margin: 50px 0 50px 0;

	@media (min-width: @screen-sm){
		padding: 0 40px;
	}

	/*@media (min-width: 1030px){
		padding: 0;
	}*/

	.slick-slide{
		background-color: #e6e6e6;
		padding: 30px 15px 90px 15px;

		@media (min-width: @screen-sm){
			padding: 38px 40px 33px 40px;
		}

		@media (min-width: @screen-md){
			padding: 48px 50px 43px 50px;
		}
	}

	.slick-arrow{
		position: absolute;
		bottom: 30px;
		cursor: pointer;
		z-index: 1;

		@media (min-width: @screen-sm){
			top: 50%;
			bottom: auto;
			margin-top: -16px;
		}
	}

	.slick-prev{
		left: 50%;
		margin-left: -40px;

		@media (min-width: @screen-sm){
			left: 30px;
		}

		@media (min-width: 1030px){
			left: -30px;
			margin-left: 0;
		}

		@media (min-width: 1250px){
			left: -45px;
		}

		@media (min-width: 1400px){
			left: -75px;
		}
	}

	.slick-next{
		right: 50%;
		margin-right: -40px;

		@media (min-width: @screen-sm){
			right: 30px;
		}

		@media (min-width: 1030px){
			right: -30px;
			margin-right: 0;
		}

		@media (min-width: 1250px){
			right: -45px;
		}

		@media (min-width: 1400px){
			right: -75px;
		}
	}

	

	&__thumb {
		width: 100%;
		height: 250px;
		float: left;
		background-size: cover;
		background-position: center;

		@media(min-width: @screen-sm) {
			width: 48%;
			height: 350px;
		}
		@media(min-width: @screen-md) {
			height: 310px;
		}
		@media(min-width: @screen-lg) {
			height: 280px;
		}
	}
	&__content {
		width: 100%;
		float: right;
		font-size: 15px;
		padding-top: 15px;

		h5{
			font-weight: 600;
		}
		@media(min-width: @screen-sm) {
			width: 48%;
			padding-top: 0;
		}
		@media(min-width: @screen-md) {
			font-size: 18px;
		}
	}
}


/* ----- Houses ----- */

.houses {
	text-align: center;
	margin: 50px 0 0 0;
	.clearfix;

	&__item {
		margin: 0 0 40px 0;

		@media(min-width: @screen-md) {
			margin-bottom: 40px;
		}

		table {
			width: 100%;
			height: 100%;
			background-color: @light-green-color;
		}
	}

	&__thumb {
		width: 100%;
		height: 200px;
		background-size: cover;
		background-position: center;
		vertical-align: top;

		a {
			display: inline-block;
			float: right;
			padding: 15px 21px;
			text-transform: uppercase;
			font-size: 12px;
			font-family: @rubik-font;
			font-weight: 500;
			color: @light-color;

			&.purple {
				background-color: @purple-color;
			}
			&.orange {
				background-color: @orange-color;
			}
			&.blue {
				background-color: @blue-color;
			}
		}
	}

	h5 {
		font-size: 25px;
		padding: 30px 8px;
		font-weight: bold;
		line-height: 30px;

		@media (min-width: @screen-md){
			font-size: 35px;
			line-height: 50px;
		}
	}

	&__button {
		height: 60px;

		a{
			display: block;
			width: 100%;
			padding: 21px 15px 18px 15px;
		}
	}
	&-more {
		text-align: center;
		margin-bottom: 50px;
		a{
			font-size: 12px;
			font-weight: 500;
			font-family: @rubik-font;
			color: @dark-color;
			border: none;
			border-bottom: 2px solid @dark-color;
			text-transform: uppercase;
			background-color: @light-color;

			@media(min-width: @screen-md) {
			font-size: 15px;
			}
		}
	}
}


/* ----- People-list ----- */

.people-list {
	margin: 40px 0 50px 0;
	.clearfix;

	&__item {
		text-align: center;
		margin: 0 0 50px 0;

		@media (min-width: @screen-md) {
			margin: 0
		}
		img {
			border-radius: 50%;
		}

		h5 {
			font-size: 20px;
			font-weight: bold;
			margin: 30px 8px 20px;

			&:after {
				content: "";
				width: 5px;
				height: 5px;
				background-color: @dark-color;
				display: block;
				margin: 20px auto 5px auto;
				border-radius: 50%;
			}
		}
	}
	&--bottom {
		width: 100%;
		margin: 0 auto;
		clear: both;
		padding-top: 0;

		@media(min-width: @screen-md) {
			padding-top: 40px;
			width: 75%;
		}
	}
}


/* ----- Partner-list ----- */

.partner-list {
	margin: 50px 0 0 0;
	.clearfix;

	ul {
		width: 100%;
		text-align: center;
		li{
			display: block;
			margin: 0 0 10px 0;
			@media(min-width: @screen-md) {
				display: inline-block;
				margin: 0 auto;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			&:after {
				content: '';
				display: block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: @dark-color;
				margin: 20px auto;
				text-align: center;
				
				@media(min-width: @screen-md) {
					display: inline-block;
					margin: 0px 20px;
				}
			}
		}
	}
}


/* ----- Footer ----- */

.footer {
	margin: 50px 0 0 0;
	.clearfix;

	&__top {
		width: 100%;
		padding: 30px 40px 50px;
		text-align: center;
		.clearfix;
	}
	&-section {
		box-sizing: border-box;
		padding: 20px;
		text-align: center;

		@media(min-width: @screen-xs) {
			width: 100%;
			text-align: center;
		}

		@media(max-width: @screen-sm-max) {
			&:nth-child(3n+1){
				clear: both;
			}
		}
		@media(min-width: @screen-sm) {
			width: 33.33%;
			text-align: left;
			float: left;
		}
		@media(min-width: @screen-md) {
			width: 20%;
		}

		h5 {
			color: #9e9e9e;
			font-size: 15px;
			text-transform: uppercase;
			font-family: @rubik-font;
			font-weight: normal;
		}
		ul {
			li{
				margin: 0 0 8px 0;

				a{
					color: #9e9e9e;
					font-size: 15px;
					font-weight: bold;

					img{
						margin: 0 15px 0 0;
					}
				}
			}
		}
	}

	&__bottom {
		width: 100%;
		padding: 30px 0 0 0;
		text-align: center;
		.clearfix;

		ul{
			li {
				display: block;
				font-size: 15px;
				margin: 5px 0 0 0;
				&:last-child {
					&:after {
						display: none;
					}
				}
				@media(min-width: @screen-sm) {
					display: inline-block;
				}

				&:after {
					content: "|";
					display: none;
					margin: 0 20px 0 20px;

					@media(min-width: @screen-sm) {
						display: inline-block;
					}
				}

				a {
					border-bottom: 2px solid @dark-color;
					color: @dark-color;
					font-weight: bold;
				}
			}
		}
	}
	&__credits {
			margin: 20px 0 0 0;

			hr{
				width: 50px;
				border-color: #969696;
				margin-bottom: 14px;
			}
			p{
				font-size: 15px;
				color: #5F5F5F;
			}
		}

}